### Label Encoding
Used for Nominal Data i.e. data that do not have any sequence or order.

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({"name":["wscube","cow","cat","dog","black"]}) 
df

     name
0  wscube
1     cow
2     cat
3     dog
4   black

In [5]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()
df["en_name"]=le.fit_transform(df["name"]) #storing the transformed numeric data in a new col called en_name

In [11]:
df

     name  en_name
0  wscube        4
1     cow        2
2     cat        1
3     dog        3
4   black        0

In [29]:
dataset = pd.read_csv("Loan.csv")
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [30]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [31]:
dataset["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [32]:
la =LabelEncoder()
la.fit(dataset["Property_Area"])

LabelEncoder()

In [35]:
dataset["Property_Area"] = la.transform(dataset["Property_Area"])
#we could have done fit_transform at once.

In [36]:
# we can see that each of the property Area now has a number instead of category 
dataset["Property_Area"].unique()

array([2, 0, 1])