### Ordinal Encoding

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({"Size":["s","m","l","xl","s","m","l","s","s","l","xl","m"]})
df.head()

  Size
0    s
1    m
2    l
3   xl
4    s

In [6]:
ord_data = [["s","m","l","xl"]]

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
oe = OrdinalEncoder(categories = ord_data) #by default, the category is auto which means the number will be assigned based on the alphabets.
#here we want the order to be based on our size i.e. s,m,l,xl so we passed ord_data to categories.

In [13]:
df["Size_en"] = oe.fit_transform(df[["Size"]])
df

   Size  Size_en
0     s      0.0
1     m      1.0
2     l      2.0
3    xl      3.0
4     s      0.0
5     m      1.0
6     l      2.0
7     s      0.0
8     s      0.0
9     l      2.0
10   xl      3.0
11    m      1.0

In [14]:
#we can assign any random number, doesn't have to start with 0
ord_data_map = {"s":0,"m":1,"l":2,"xl":3}

In [15]:
df["Size_mapped_en"] = df["Size"].map(ord_data_map)

In [16]:
df

   Size  Size_en  Size_mapped_en
0     s      0.0               0
1     m      1.0               1
2     l      2.0               2
3    xl      3.0               3
4     s      0.0               0
5     m      1.0               1
6     l      2.0               2
7     s      0.0               0
8     s      0.0               0
9     l      2.0               2
10   xl      3.0               3
11    m      1.0               1

In [18]:
dataset = pd.read_csv("Loan.csv")
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [21]:
dataset.fillna({"Property_Area":dataset["Property_Area"].mode()[0]})

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [19]:
dataset["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [66]:
#Encoding the Property_Area column using OrdinalEncoder
en_data_ord = [['Rural', 'Semiurban','Urban']]

In [67]:
oen = OrdinalEncoder(categories=en_data_ord)

In [68]:
dataset["Property_Area"] = oen.fit_transform(dataset[["Property_Area"]]).flatten()

ValueError: could not convert string to float: 'Rural'