In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [39]:
dataset = pd.read_csv("Boston.csv")
dataset.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [40]:
dataset.rename(columns={"medv":"House_Price"}, inplace = True)
dataset.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,House_Price
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [41]:
dataset.describe().columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'black', 'lstat', 'House_Price'],
      dtype='str')

In [42]:
dataset.drop(columns=['Unnamed: 0'], inplace = True)

In [43]:
dataset.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,House_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [44]:
dataset.shape

(506, 14)

Now we divide our dependent and independent variables/features. I.E. we want the input and output data. As we can see, the Hous Price is the output of the other variables which is why we want to remove it from input data and store as output data using iloc i.e. integer location-based indexing.

In [ ]:
from sklearn.model_selection import train_test_split

In [45]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["House_Price"]

In [46]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size =0.25 ) # i.e. input data, output data
#usually keep 20-25% test data

In [47]:
x_train.shape, y_train.shape #used while building the model

((379, 13), (379,))

In [49]:
x_test.shape, y_test.shape #used when model is built and testing the accuracy

((127, 13), (127,))